section#about {
    .content {
        display: flex;
        align-items: center;
        border-left: 2px dashed $accent-color;

        p {
            flex-grow: 2;
            padding-left: 1rem;
        }

        img {
            width: 300px;
            flex-grow: 1;
        }

        button {
            margin: 1rem auto;
            display: block;
        }
    }

    @media (max-width:500px) {
        .content {
            flex-direction: column-reverse;
            gap: 1rem;
        }
    }
}