section#about {
    .content {
        display: flex;
        align-items: center;

        p {
            flex-grow: 2;
            border-left: 2px dashed $accent-color;
            padding-left: 1rem;
        }

        img {
            width: 300px;
            flex-grow: 1;
        }
    }
}