@keyframes spinningAnimation {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.external-links {
    font-size: larger;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    a {
        box-sizing: border-box;
        border: 10px solid transparent;
        display: inline-block;
        transform-origin: center;

        &:hover {
            animation: spinningAnimation .5s ease-in;
        }
    }
}