.external-links {
    font-size: larger;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    a {
        box-sizing: border-box;
        border: 10px solid transparent;
    }
}