a {
    color: $dark-color;
    font-weight: bold;
    text-decoration: none;
    transition-property: color;
    transition-duration: $transition-duration;

    &:not(:has(svg)):hover {
        color: $accent-color;
    }
}