section {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;

    h1,
    h2 {
        color: $accent-color;
        letter-spacing: .3rem;
        font-size: 2rem;
    }

    hgroup {
        display: flex;
        align-items: center;
        margin: 1.5rem auto;

        img {
            width: 3rem;
            display: block;
            aspect-ratio: 1/1;
            margin-right: 1rem;
        }
    }
}

@import "aboutSection";
@import "skillSection";
@import "projectSection";
@import "contactSection";