#skill-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    article {
        margin: 1rem;

        h3 {
            color: $accent-color;
            margin-bottom: 1rem;
        }

        .skill-list {
            list-style: none;
            padding: 0;
            margin: 0;

            .skill-item {
                background-color: $gray-color;
                margin: .2em;
                border-radius: 5px;
                padding: .2em .5rem;
                display: inline-block;
                cursor: default;
            }
        }
    }

    @media (max-width:500px) {
        flex-wrap: wrap;
    }
}