@import "variables";
@import "atropos/scss";

@font-face {
  font-family: "Neus";
  src: url("../assets/fonts/NeusaNextStdTrial-WideRegular-BF63ec3d6e7e6cd.otf");
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Sans Serif';
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Neus", "Sans Serif";
  font-weight: bold;
}

h3 {
  color: $accent-color;
}

p {
  color: $dark-color;
}

::selection {
  background-color: $accent-color;
  color: $light-color;
}

body {
  background-image:
    url("../assets/bg/1.png"),
    url("../assets/bg/2.png"),
    url("../assets/bg/5.png");
  background-repeat: no-repeat;
  background-position:
    0% 0%,
    50% 50%,
    0% 100%;
  background-size: auto;

  &::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: $gray-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent-color;
    border-radius: 10px;
  }

}

@mixin transition_ {
  transition: all $transition-duration ease-in-out;
}

@import "navbar";
@import "section";
@import "externalLinks";
@import "links";
@import "footer";
@import "button";
@import "cursor";
@import "scrollIndicator";